
@{
    ViewData["Title"] = "Index";
}

<h1>Sobre Nós</h1>

<p>
    O projeto LumosArte, desenvolvido por alunos do curso de Desenvolvimento de Software Multiplataforma da Fatec Matão,
    é uma iniciativa interdisciplinar que visa promover o mundo do artesanato por meio de uma plataforma online. Nosso 
    objetivo principal é fornecer aos artesãos uma maneira fácil e rápida de expor e promover seus trabalhos de forma 
    eficiente.

    O software Multiplataforma LumosArte permite que os artistas criem seus perfis personalizados e carreguem fotos e 
    descrições detalhadas de suas criações artesanais. Com uma interface intuitiva e amigável, tanto os artesãos 
    experientes quanto os iniciantes podem compartilhar suas habilidades, técnicas e inspirações com o público.

    Além de oferecer uma galeria virtual abrangente, o LumosArte também incentiva a interação entre os usuários. 
    Possibilitando esses de compartilhar sua paixão e promover seu trabalho de forma eficaz e moderna. Por meio de 
    recursos como compartilhamento em redes sociais, os artesãos podem receber feedback valioso dos espectadores 
    e estabelecer conexões com outros entusiastas do artesanato.
    Esperamos que essa iniciativa possa contribuir para o crescimento da comunidade de artesanato, aproximando pessoas 
    e inspirando a criatividade.

    O projeto está sendo desenvolvido utilizando as mais diversas tecnologias multiplataforma, permitindo que o software 
    seja acessado em diferentes dispositivos, como smartphones, tablets e computadores. Dessa forma, tornamos a experiência 
    de exposição e promoção de artesanatos acessível a um público amplo e diversificado.

    Ao unir conhecimentos como os tecnicas de programação, design, desenvolvimento de software, lógica e dados, nossa 
    equipe se empenhou em criar uma solução completa e integrada para atender às necessidades específicas do setor de 
    artesanato. Levamos em consideração a usabilidade, a segurança e a escalabilidade do software, garantindo uma 
    experiência agradável para os usuários e um ambiente confiável para os artesãos.
</p>

<h2>Nossa Equipe</h2>
