main {
    width: 70%;
    margin: 5px auto;
    position: relative;
    font-family: Arial,sans-serif;
}

form .dados legend {
    font-size: 15px;
    color: rgb(230, 168, 188);
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.dados legend:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: rgb(230, 168, 188);
}


legend.principal {
    font-size: 25px;
    color: rgb(239, 162, 179);
    font-weight: bold;
    text-align: center;
}

form div.dados {
    border: rgb(177, 137, 33) 1px solid;
    padding: 10px 25%;
    margin: 10px 0;
}

form label {
    font-size: 13px;
    color: #000000;
    position: relative;
}

form select {
    display: block;
}
/* placeholder */
::-webkit-input-placeholder {
    color: #bebcbc;
    text-align: center;
}

/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]), textarea {
    width: 100%;
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*estilo do botão submit */
button, #botaoA {
    width: 49%;
    cursor: pointer;
    /*background: rgb(230, 168, 188);
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;*/
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

a #botaoA {
    letter-spacing: -1.2px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
    padding: 4.7px 10px;
    text-shadow: 0px 1px 0.7px rgba(0, 0, 0, 0.5);
}  
    
a .botaoB {
    font-size: 15px;
    margin-left: 70%;
}

button, a {
    padding: 8px 5px;
    margin: 10px 0 0 0;
    display: inline;
}

a.botaoA {
    text-decoration: none;
    padding: 8px 0px;
    margin: 10px 0 0 25%;
    display: block;
}

#cadastro, #cadastroP {
    position: absolute;
    top: 0px;
    width: 89%;
    padding: 18px 6% 40px 6%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189,0.8);
    border-radius: 5px;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

div.confirma {
    text-align: center;
    border-bottom: rgb(239, 162, 179) 2px solid;
    width: 100%;
    padding-bottom: 20px;
}
