@model Produto
@{
    ViewData["Title"] = "ProdutoDetails";
}

<main>
    <section class="conteudoPostagem" style="display: flex;">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="width: 50%;">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="~/Images/@Model.Imagem" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/Images/@Model.Imagem" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/@Model.Imagem" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
        <div class="conteudP" style="width: 50%; margin: 1%">
            <h1>@Model.Nome</h1>
            <div style="margin: 20px;">
                <p>
                    @Model.Descricao
                </p>
                <p>
                    Ver Página de @await Component.InvokeAsync("ArtistaView", @Model.Usuario_id)
                </p>
            </div>
        </div>

    </section>
</main>




